

## PROBLEM SET 2

DISHA PATEL

### Question 1 
Consider the following Python module: 
a = 0

def  b(): 

global  a 

a  = c(a) 
 
def  c(a): 

return  a  +  2 
 
After importing the module into the interpreter, you execute: 
 
 b()

 b() 
 
 b() 
 
 a 
? 
 
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [2]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [3]:
b()
b()
b()
a

6

EXPLAINATION: 

1. **Initial Setup:** `a` is set to `0` in the global scope.

2. **First Call to `b()`:** `b()` calls `c(0)`, which returns `2`; `a` becomes `2`.

3. **Second Call to `b()`:** `b()` calls `c(2)`, which returns `4`; `a` becomes `4`.

4. **Third Call to `b()`:** `b()` calls `c(4)`, which returns `6`; `a` becomes `6`.

5. **Final Value of `a`:** Evaluating `a` gives `6`.

### Question 2 
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file: 
 
fileLength('midterm.py') 

284 

fileLength('idterm.py') 

Traceback  (most  recent  call  last): 

File  "<pyshell#34>",  line  1,  in  <module> 

fileLength('idterm.py') 

File  "/Users/me/midterm.py",  line  3,  in  fileLength 

infile  =  open(filename) 

FileNotFoundError:  [Errno  2]  No  such  file  or  directory: 

'idterm.py' 
 
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead: 
 
fileLength('midterm.py') 

358 

fileLength('idterm.py') 

File  idterm.py  not  found.

Modified Function

In [7]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            contents = infile.read()
            return len(contents)
    except FileNotFoundError:
        print(f'File {filename} not found.')

In [5]:
fileLength('Filelength.txt')

123

In [8]:
fileLength('midterm.py')

File midterm.py not found.

### Question 3
Write a class named Marsupial that can be used as shown below: 
 
m  =  Marsupial() 

m.put_in_pouch('doll') 

m.put_in_pouch('firetruck') 

m.put_in_pouch('kitten') 

m.pouch_contents()  

['doll',  'firetruck',  'kitten'] 

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also: 
a. extends the Marsupial  __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object, 

b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the y- 
axis, and 

c. overloads the __str__ operator so it behaves as shown below.

In [9]:
class Marsupial:
    def __init__(self):
        self.pouch = []  #an empty list to hold items

    def put_in_pouch(self, item):
        self.pouch.append(item)  # Adding an item to the pouch

    def pouch_contents(self):
        return self.pouch  # Returning  the list of items in the pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the parent constructor to initialize the pouch
        self.x = x  # Initialize x-coordinate
        self.y = y  # Initialize y-coordinate

    def jump(self, dx, dy):
        self.x += dx  # Update x-coordinate by dx
        self.y += dy  # Update y-coordinate by dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [10]:
k = Kangaroo(0, 0)
print(k)  

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()) 

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
 
x = {  𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 
+ 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [11]:
def collatz(x):
    print(x)  
    if x == 1:  #if x is 1, stop the recursion
        return
    elif x % 2 == 0:  # If x is even, divide it by 2
        collatz(x // 2)
    else:  # If x is odd, apply 3x + 1
        collatz(3 * x + 1)

In [12]:
collatz(1)

1

In [13]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [14]:
def binary(n):
    if n < 2:  # if n is 0 or 1, just print n
        print(n, end='')
    else:
        binary(n // 2)  # Recursive call with n divided by 2
        print(n % 2, end='')  # Print the remainder when n is divided by 2

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(3)

11

In [18]:
binary(9)

1001

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [19]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.current_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.current_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(" " * (self.current_level - 1) + data.strip())

filepath = r"E:\georgian\BDAT\2 2 data analytics programming\problemset 2\w3c.txt"
with open(filepath, 'r') as infile:
    content = infile.read()

# Parse the content
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent,  should 
be used to indicate the depth of a URL.

In [21]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    if depth < 0:
        return
    
    print(' ' * indent + url)
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        links = soup.find_all('a', href=True)
        
        for link in links:
            new_url = urljoin(url, link['href'])
            webdir(new_url, depth - 1, indent + 2)

    except requests.exceptions.RequestException as e:
        print(f"Error accessing {url}: {e}")

In [22]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

### question 8

Write SQL queries on the below database table that return: 
a) All the temperature data. 

b) All the cities, but without repetition. 

c) All the records for India. 

d) All the Fall records. 

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters. 

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order. 

g) The total annual rainfall for Cairo. 

h) The total rainfall for each season.

In [23]:
import sqlite3

conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# Create the table
cursor.execute('''
CREATE TABLE IF NOT EXISTS weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Insert data
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]


cursor.executemany("INSERT INTO weather (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)", data)
conn.commit()

 a) All the temperature data.

In [24]:
query_a = "SELECT Temperature FROM weather;"
temperature_data = pd.read_sql_query(query_a, conn)
print("All temperature data:\n", temperature_data)

All temperature data:
     Temperature
0          24.8
1          28.4
2          27.9
3          27.6
4           4.2
5           8.3
6          15.7
7          10.4
8          13.6
9          20.7
10         27.7
11         22.2

b) All the cities, but without repetition.

In [25]:
query_b = "SELECT DISTINCT City FROM weather;"
distinct_cities = pd.read_sql_query(query_b, conn)
print("Distinct cities:\n", distinct_cities)

Distinct cities:
      City
0  Mumbai
1  London
2   Cairo

c) All the records for India.

In [26]:
query_c = "SELECT * FROM weather WHERE Country = 'India';"
records_india = pd.read_sql_query(query_c, conn)
print("Records for India:\n", records_india)

Records for India:
      City Country  Season  Temperature  Rainfall
0  Mumbai   India  Winter         24.8       5.9
1  Mumbai   India  Spring         28.4      16.2
2  Mumbai   India  Summer         27.9    1549.4
3  Mumbai   India    Fall         27.6     346.0

d) All the Fall records.

In [27]:
query_d = "SELECT * FROM weather WHERE Season = 'Fall';"
fall_records = pd.read_sql_query(query_d, conn)
print("All Fall records:\n", fall_records)

All Fall records:
      City         Country Season  Temperature  Rainfall
0  Mumbai           India   Fall         27.6     346.0
1  London  United Kingdom   Fall         10.4     218.5
2   Cairo           Egypt   Fall         22.2       4.5

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [28]:
query_e = "SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400;"
rainfall_between_200_400 = pd.read_sql_query(query_e, conn)
print("Average rainfall between 200 and 400 mm:\n", rainfall_between_200_400)

Average rainfall between 200 and 400 mm:
      City         Country  Season
0  Mumbai           India    Fall
1  London  United Kingdom  Winter
2  London  United Kingdom    Fall

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [29]:
query_f = "SELECT City, Country FROM weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC;"
fall_temp_above_20 = pd.read_sql_query(query_f, conn)
print("Fall temperature above 20 degrees:\n", fall_temp_above_20)

Fall temperature above 20 degrees:
      City Country
0   Cairo   Egypt
1  Mumbai   India


g) The total annual rainfall for Cairo.

In [30]:
query_g = "SELECT SUM(Rainfall) AS Total_Annual_Rainfall FROM weather WHERE City = 'Cairo';"
total_rainfall_cairo = pd.read_sql_query(query_g, conn)
print("Total annual rainfall for Cairo:\n", total_rainfall_cairo)

Total annual rainfall for Cairo:
    Total_Annual_Rainfall
0                   27.6


h) The total rainfall for each season.

In [31]:
query_h = "SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season;"
total_rainfall_each_season = pd.read_sql_query(query_h, conn)
print("Total rainfall for each season:\n", total_rainfall_each_season)

Total rainfall for each season:
    Season  Total_Rainfall
0    Fall           569.0
1  Spring           192.3
2  Summer          1706.5
3  Winter           230.1

### Question 9

Suppose list words is defined as follows: 
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 
'the',  'lazy',  'dog'] 

Write list comprehension expressions that use list words and generate the following 
lists: 

a) ['THE',  'QUICK',  'BROWN',  'FOX',  'JUMPS',  'OVER',  'THE', 
'LAZY',  'DOG'] 

b) ['the',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 
'lazy',  'dog'] 

c) [3,  5,  5,  3,  5,  4,  3,  4,  3] (the list of lengths of words in list 
words). 

d) [['THE',  'the',  3],  ['QUICK',  'quick',  5],  ['BROWN', 
'brown',  5],  ['FOX',  'fox',  3],  ['JUMPS',  'jumps',  5], 
['OVER',  'over',  4],  ['THE',  'the',  3],  ['LAZY',  'lazy', 
4],  ['DOG',  'dog',  3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.) 

e) ['The',  'quick',  'brown',  'fox',  'jumps',  'over',  'the', 
'lazy',  'dog'] (the list of words in list words containing 4 or more 
characters.)

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a) Uppercase all words

In [38]:
a = [word.upper() for word in words]
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) Lowercase all words

In [33]:
b = [word.lower() for word in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) List of lengths of each word

In [34]:
c = [len(word) for word in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

 d) List of [uppercase, lowercase, length] for each word

In [35]:
d = [[word.upper(), word.lower(), len(word)] for word in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 e) List of words with 4 or more characters

In [36]:
e = [word for word in words if len(word) >= 4]
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']